:root {
  --surface: lch(10 0 0);
  --text: lch(80 0 0);
  --brand: lch(64 40 347);

  @media (prefers-color-scheme: light) {
    @media (dynamic-range: high) {
      --brand: color(display-p3 1 0 1);
    }
  }
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;

  display: grid;
  place-content: center;
  gap: 2ch;

  background: var(--surface);
  color: var(--text);
  font-family: system-ui, sans-serif;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

small {
  text-align: end;
  display: block;
}

body,p,ul,dl,dd,dt,figure,
h1,h2,h3,h4,h5,h6,small {
  margin: 0;
}

a {
  color: var(--brand);
  color: color(display-p3 0 .5 1);

  &:visited {
    color: color(display-p3 .5 0 1);
  }
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.5;
  max-inline-size: 25ch;
}

p {
  line-height: 2;
  font-size: 1.25rem;
  font-weight: 300;
  max-inline-size: 45ch;
}

::selection {
  background-color: var(--brand);
}

h1 {
  font-family: 'Press Start 2P';
  line-height: 1.1;
  font-size: 7rem;
  font-size: clamp(22px, 11vmin, 8rem);
  background-color: orange;
  background-image: 
    paint(static-gradient, to-top, maroon, 8),
    paint(static-gradient, to-top, red, 8)
  ;
  background-size: 
    100% 40%,
    100% 80%
  ;
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 
    -5px -5px 0 hsl(0 0% 100% / 20%), 
    5px 5px 0 hsl(0 0% 100% / 20%)
  ;
  
  @media (prefers-reduced-motion: no-preference) {
    animation: fire-dance 100s linear infinite;
  }

  &.paused {
    animation-play-state: paused;
  }
}

@keyframes fire-dance {
  0%,10%,20%,30%,40%,50% { 
    background-image: 
      paint(static-gradient, to-top, maroon, 8),
      paint(static-gradient, to-top, red, 8)
    ;
  }
}

hr {
  border: none;
  height: 10ch;
  margin: 0 -5ch;
  background-image: 
    paint(static-gradient, to-bottom, hsl(0 0% 35%), 6)
  ;
}
